@page "/application-form"
@using ServerApp.Data.Models.EditModel

@inject IDataService data
@inject IJSRuntime js
@inject ToastService toastService

<div class="block">
    <div class="d-flex flex-row justify-content-between block-title">
        <div class="block-title-text">
            Заполните заявку для участия
        </div>
        <Button Type="ButtonType.Button"
                Color="ButtonColor.Success"
                @onclick="ChangeStatus">
            Отправить заявку
        </Button>
        @* <Button Disabled="!IsAllFormsComplete">
            Отправить заявку
        </Button> *@
    </div>
    @if (model is not null)
    {
        <div class="block-content">
            <InputSelect class="form-control" Value="model.SelectedTrackId" TValue="Guid?" ValueExpression="() => model.SelectedTrackId" ValueChanged="(trackId) => OnTrackIdChanged(trackId)">
                <option value="@Guid.Empty" disabled selected hidden>Выберите трек</option>
                @foreach (var track in model.Tracks)
                {
                    <option value="@track!.Id">@track.Name</option>
                }
            </InputSelect>
            @if (model.SelectedTrackId != Guid.Empty)
            {
                <div class="block-content-text">
                    <TabsForEditBlocks EditBlocks="model.EditBlocks" SelectedEditBlockId="model.SelectedEditBlockId" OnBlockChanged="OnBlockIdChanged"></TabsForEditBlocks>
                </div>
                @if ((model.Fields is not null && model.Fields.Any()) || (model.Tables is not null && model.Tables.Any()))
                {
                    <EditForm EditContext="editContext" OnValidSubmit="Submit" class="block-content-text">
                        @if (model.Fields is not null && model.Fields.Any())
                        {
                            @foreach (var fld in model.Fields)
                            {
                                @if (!string.IsNullOrEmpty(fld.EditGroup))
                                {
                                    <div class="block-subtitle-text">@fld.EditGroup</div>
                                }
                                <div class="form-text">@fld.Name <span class="text-danger">*</span></div>
                                <div class="form-input w-100 mb-3">
                                    <ValidationMessage For="() => fld.Value" />
                                    @if (fld.SelectValues is not null && fld.SelectValues.Any())
                                    {
                                        <InputSelect class="form-control" style="white-space: normal; word-wrap: break-word;" @bind-Value="fld.Value">
                                            <option value="@string.Empty" disabled selected hidden>@fld.Placeholder</option>
                                            @foreach (var value in fld.SelectValues)
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        </InputSelect>
                                    }
                                    else
                                    {
                                        <InputText class="form-control" @bind-Value="fld.Value" Placeholder="@fld.Placeholder" />
                                    }
                                </div>
                            }
                        }
                        @if (model.Tables is not null && model.Tables.Any())
                        {
                            @foreach (var table in model.Tables)
                            {
                                <div class="block-content">
                                    <div class="table-container">
                                        <div class="block-subtitle-text">@table.Name</div>
                                        @if (table.Rows is not null && table.Rows.Any())
                                        {
                                            <table class="table-stand">
                                                <thead>
                                                <tr>
                                                    @foreach (var column in table.Columns)
                                                    {
                                                        <th>@column.Name</th>
                                                    }
                                                    @if (table.Name != "Персональные идентификаторы и показатели")
                                                    {
                                                        <th></th>
                                                    }
                                                </tr>
                                                </thead>
                                                <tbody>
                                                @foreach (var row in table.Rows)
                                                {
                                                    <tr>
                                                        @foreach (var cell in row.Cells)
                                                        {
                                                            <td>
                                                                <div class="form-input w-100">
                                                                    <InputText class="form-control" @bind-Value="cell.Value" />
                                                                </div>
                                                            </td>
                                                        }
                                                        @if (table.Name != "Персональные идентификаторы и показатели")
                                                        {
                                                            <td style="width: 50px;">
                                                                <Icon Color="IconColor.Danger" Name="IconName.XSquareFill" Style="scale: 1.5;" @onclick="() => DeleteRow(table, row)" type="button" />
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                    @if (table.Name != "Персональные идентификаторы и показатели")
                                    {
                                        <Icon Color="IconColor.Primary" Name="IconName.PlusCircleFill" Size="IconSize.x2" @onclick="async () => await AddRow(table)" type="button" />
                                    }
                                </div>
                            }

                        }
                        <ValidationSummary />
                        <div class="d-flex justify-content-center">
                            <Button Type="ButtonType.Submit"
                                    Color="ButtonColor.Primary">
                                Сохранить
                            </Button>
                        </div>
                    </EditForm>
                }
            }
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center">
            <Spinner Color="SpinnerColor.Primary" />
        </div>
    }
</div>

@code {
    EditModel? model;
    EditContext? editContext;
    ValidationMessageStore? messageStore;

    protected override async Task OnInitializedAsync()
    {
        model = await data.GetCurrentUserEditModelAsync();
        model.Tracks = await data.GetTrackModelsAsync();
        await OnTrackIdChanged(model.SelectedTrackId);
    }

    async Task OnTrackIdChanged(Guid? trackId)
    {
        if (model == null || trackId == Guid.Empty) return;

        model.SelectedTrackId = trackId;
        model.EditBlocks = await data.GetEditBlockModelsAsync(trackId);

        await OnBlockIdChanged(model.EditBlocks.First().Id);
    }

    async Task OnBlockIdChanged(Guid? blockId)
    {
        if (model == null || blockId == Guid.Empty) return;

        model.SelectedEditBlockId = blockId;
        model.Fields = await data.GetFieldModelsForEditBlockAsync(blockId);
        model.Tables = await data.GetTableModelsForEditBlockAsync(blockId);

        InitializeEditContext(model);
    }

    async Task AddRow(TableModel table)
    {
        var row = await data.GetRowModelAsync(table.Id);
        var targetTable = model!.Tables.FirstOrDefault(e => e == table);
        if (targetTable != null)
        {
            targetTable.Rows.Add(row);
        }
        InitializeEditContext(model);
    }

    async Task DeleteRow(TableModel table, RowModel row)
    {
        var targetTable = model!.Tables.FirstOrDefault(e => e == table);
        if (targetTable != null)
        {
            await data.DeleteRowAsync(row.Id);
            targetTable.Rows.Remove(row);
        }
        InitializeEditContext(model);
    }

    void InitializeEditContext(EditModel model)
    {
        editContext = new(model);
        editContext.OnFieldChanged += HandleFieldChanged;
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
    }

    void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (e.FieldIdentifier.Model is FieldModel fld)
        {
            messageStore?.Clear(() => fld.Value!);
            CheckField(fld);
        }
        if (e.FieldIdentifier.Model is CellModel cell)
        {
            messageStore?.Clear(() => cell.Value!);
            CheckCell(cell);
        }
        editContext?.NotifyValidationStateChanged();
    }

    void HandleValidationRequested(object? sender, ValidationRequestedEventArgs e)
    {
        messageStore!.Clear();
        foreach (var fld in model!.Fields)
        {
            CheckField(fld);
        }
        foreach (var table in model!.Tables)
        {
            foreach (var row in table.Rows)
            {
                foreach (var cell in row.Cells)
                {
                    CheckCell(cell);
                }
            }
        }
        editContext!.NotifyValidationStateChanged();
    }

    void CheckField(FieldModel fld)
    {
        if (string.IsNullOrEmpty(fld.Value))
        {
            messageStore!.Add(() => fld.Value!, $"Поле '{fld.Name}' обязательно для заполнения.");
        }
        else if (fld.ValueType == "int" && !Int32.TryParse(fld.Value, out _))
        {
            messageStore!.Add(() => fld.Value!, $"Поле '{fld.Name}' должно содержать число.");
        }
    }

    void CheckCell(CellModel cell)
    {
        if (string.IsNullOrEmpty(cell.Value))
        {
            messageStore!.Add(() => cell.Value!, $"Поле таблицы обязательно для заполнения.");
        }
        else if (cell.ValueType == "int" && !Int32.TryParse(cell.Value, out _))
        {
            messageStore!.Add(() => cell.Value!, $"Поле таблицы должно содержать число.");
        }
    }

    async Task Submit()
    {
        await data.SaveApplicationFormFromEditModelAsync(model!);
        model!.EditBlocks.FirstOrDefault(e => e.Id == model.SelectedEditBlockId)!.Status = true; //todo: костыль
        await js.InvokeVoidAsync("scrollToTop");
        toastService.Notify(new(ToastType.Success, "Сохранение прошло успешно"));
    }

    async Task ChangeStatus()
    {
        await data.SetCurrentUserApplicationStatusWaitingForReviewedAsync();
    }
}
