@page "/"
@rendermode InteractiveServer
@inject IDataService service

<PageTitle>Home</PageTitle>

<CardGroup>
    @foreach (var user in users)
    {
        <Card>
            <CardBody>
                <p>@user.Name - @user.Username</p>
            </CardBody>
        </Card>
    }
</CardGroup>

<CardGroup>
    @foreach (var id in identifierTypes)
    {
        <Card>
            <CardBody>
                <p>@id.Name - @id.NeedValue1 - @id.NeedValue2</p>
            </CardBody>
        </Card>
    }
</CardGroup>

@code {
    IEnumerable<UserInfo> users = [];
    IEnumerable<IdentifierType> identifierTypes = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        users = await service.GetUserInfosAsync();
        identifierTypes = await service.GetIdentifierTypesAsync();
    }
}