@using System.Timers;

@inject NavigationManager navigate
@inject IDataService data

<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            О конкурсе
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="d-flex justify-content-center pb-4">
                <div class="circle-stage-1">
                    <div class="circle-stage-title">
                        <div class="circle-stage-number">1</div>
                    </div>
                </div>
            </div>

            <div class="block-subtitle-text text-center pb-2">
                Первый этап
                <Tooltip Title="@GetTooltipText(startFirstDeadline, endFirstDeadline)"
                         Placement="TooltipPlacement.Bottom">
                    <Icon Name="IconName.InfoCircle" />
                </Tooltip>
            </div>

            <div class="form-text text-center">Прием заявок</div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="d-flex justify-content-center pb-4">
                <div class="circle-stage-2">
                    <div class="circle-stage-title">
                        <div class="circle-stage-number">2</div>
                    </div>
                </div>
            </div>

            <div class="block-subtitle-text text-center pb-2">
                Второй этап
                <Tooltip Title="@GetTooltipText(startSecondDeadline, endSecondDeadline)"
                         Placement="TooltipPlacement.Bottom">
                    <Icon Name="IconName.InfoCircle" />
                </Tooltip>
            </div>

            <div class="form-text text-center">Экспертиза заявок и документов</div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="d-flex justify-content-center pb-4">
                <div class="circle-stage-3">
                    <div class="circle-stage-title">
                        <div class="circle-stage-number">3</div>
                    </div>
                </div>
            </div>

            <div class="block-subtitle-text text-center pb-2">
                Третий этап
                <Tooltip Title="не позднее 30.11.2024. Награждение победителей – 5.12.2024"
                         Placement="TooltipPlacement.Bottom">
                    <Icon Name="IconName.InfoCircle" />
                </Tooltip>
            </div>

            <div class="form-text text-center">Оценка заявок и присуждение премий Советом конкурса</div>
        </div>
    </div>

    <div class="d-flex flex-column">
        @if (targetDate == endFirstDeadline)
        {
            <div class="block-title-text text-center mb-3">До конца приема заявок осталось:</div>
            <div class="countdown mb-3">
                <div class="countdown-item">
                    <span id="days">@days</span>
                    <span class="label">Дней</span>
                </div>
                <div class="countdown-item">
                    <span id="hours">@hours</span>
                    <span class="label">Часов</span>
                </div>
                <div class="countdown-item">
                    <span id="minutes">@minutes</span>
                    <span class="label">Минут</span>
                </div>
            </div>
            <div class="d-flex flex-wrap gap-2 justify-content-center mb-3">
                <AuthorizeView>
                    <NotAuthorized>
                        <Button Type="ButtonType.Link"
                                Color="ButtonColor.Primary"
                                @onclick="ShowConfirmationAsync">
                            Подать заявку на участие
                        </Button>
                    </NotAuthorized>
                    <Authorized>
                        <Button Type="ButtonType.Link"
                                Color="ButtonColor.Primary"
                                To="/application-form#">
                            Подать заявку на участие
                        </Button>
                    </Authorized>
                </AuthorizeView>
            </div>
        }
        else if (targetDate == endSecondDeadline)
        {
            <div class="block-title-text text-center mb-3">До конца голосования осталось:</div>
            <div class="countdown mb-3">
                <div class="countdown-item">
                    <span id="days">@days</span>
                    <span class="label">Дней</span>
                </div>
                <div class="countdown-item">
                    <span id="hours">@hours</span>
                    <span class="label">Часов</span>
                </div>
                <div class="countdown-item">
                    <span id="minutes">@minutes</span>
                    <span class="label">Минут</span>
                </div>
            </div>
            <div class="d-flex flex-wrap gap-2 justify-content-center mb-3">
                <Button Type="ButtonType.Link"
                        Color="ButtonColor.Primary"
                        To="/voting#">
                    К голосованию
                </Button>
            </div> 
        }
        else
        {
            <div class="block-title-text text-center mb-3">Ожидайте оглашения итогов конкурса</div>
        }
    </div>

    <ConfirmDialog @ref="dialog" />

    <div class="block-content">
        <div class="block-content-text">
            <p>
                Тюменский индустриальный университет проводит в 2024 году конкурс по присуждению премий в области научно-педагогической и 
                научно-исследовательской деятельности по следующим направлениям:
            </p>

            <div class="block-subtitle-text fs-6">СТРОИТЕЛЬСТВО И АРХИТЕКТУРА</div>
            <p style="text-indent:30px;">07.00.00. Архитектура</p>
            <p style="text-indent:30px;"> 08.00.00. Техника и технологии строительства</p>
            <p style="text-indent:30px;"> 2.1. Строительство и архитектура</p>
            <div class="block-subtitle-text fs-6">ЭНЕРГЕТИКА И НЕФТЕГАЗОВАЯ ИНДУСТРИЯ</div>
            <p style="text-indent:30px;"> 13.00.00. Электро- и теплоэнергетика</p>
            <p style="text-indent:30px;"> 21.00.00. Прикладная геология, горное дело, нефтегазовое дело и геодезия</p>
            <p style="text-indent:30px;"> 2.8. Недропользование и горные науки</p>
            
            <p>В конкурсе могут принять участие:</p>
            <p>
                <Icon Name="IconName.ArrowRightShort" Size="IconSize.x5" Color="IconColor.Primary" />
                докторанты и работники высших учебных заведений, отраслевых и академических институтов, работники сектора промышленности (исследователи),
                осуществляющие научно-исследовательскую и/или научно-педагогическую деятельность, имеющие ученую степень кандидата наук и/или доктора наук;
            </p>
            <p>
                <Icon Name="IconName.ArrowRightShort" Size="IconSize.x5" Color="IconColor.Primary" />
                работники высших учебных заведений, отраслевых и академических институтов, – лица, занимающие штатные научные и(или) педагогические
                должности в высших учебных заведениях, отраслевых и академических институтах;
            </p>
            <p>
                <Icon Name="IconName.ArrowRightShort" Size="IconSize.x5" Color="IconColor.Primary" />
                исследователи – работники, профессионально занимающиеся исследованиями и разработками и непосредственно осуществляющие создание новых знаний,
                продуктов, методов и систем, а также управление указанными видами деятельности.
            </p>
        </div>
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="/about#">
        Узнать больше
    </Button>
    <div class="block-content">
        <div class="block-content-photo" style="background-image: url('img/About.jpg');"></div>
    </div>
</div>

@code {
    private DateTimeOffset targetDate = new();

    private string? days;
    private string? hours;
    private string? minutes;

    private Timer? timer;

    private ConfirmDialog? dialog;

    DateTimeOffset startFirstDeadline = new();
    DateTimeOffset endFirstDeadline = new();
    DateTimeOffset startSecondDeadline = new();
    DateTimeOffset endSecondDeadline = new();
    DateTimeOffset dateNow = new();

    protected override async Task OnInitializedAsync()
    {
        timer = new Timer(1000);

        // событие Elapsed
        timer.Elapsed += UpdateCountdown!;

        // Запуск таймера
        timer.Start();

        dateNow = DateTimeOffset.UtcNow.ToOffset(TimeSpan.FromHours(3));
        Data.Entities.Deadline deadlineFirst = await data.GetDeadlineAsync("Прием заявок");
        if (deadlineFirst != null)
        {
            startFirstDeadline = deadlineFirst.Start;
            endFirstDeadline = deadlineFirst.End;
        }

        Data.Entities.Deadline deadlineSecond = await data.GetDeadlineAsync("Голосование");
        if (deadlineSecond != null)
        {
            startSecondDeadline = deadlineSecond.Start;
            endSecondDeadline = deadlineSecond.End;
        }
    }

    private string GetTooltipText(DateTimeOffset start, DateTimeOffset end)
    {
        return $"с {TimeOnly.FromDateTime(start.DateTime)} МСК {DateOnly.FromDateTime(start.Date)} по {TimeOnly.FromDateTime(end.DateTime)} МСК {DateOnly.FromDateTime(end.Date)}";
    }

    private async Task ShowConfirmationAsync()
    {
        var options = new ConfirmDialogOptions
            {
                IsVerticallyCentered = true,
                NoButtonText = "Нет",
                YesButtonText = "Да",
            };
        var confirmation = await dialog!.ShowAsync(
            title: "Подтвердите действие",
            message1: "Для подачи заявки на участие необходима авторизация на сайте.",
            message2: "Перейти на страницу авторизации?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            navigate.NavigateTo("/application-form#");
        }
    }

    private void UpdateCountdown(object sender, ElapsedEventArgs e)
    {
        targetDate = endFirstDeadline;
        TimeSpan remainingTime = targetDate - dateNow;

        // Проверка завершения отсчета
        if (remainingTime.TotalSeconds >= 0)
        {
            days = remainingTime.Days.ToString("D2");
            hours = remainingTime.Hours.ToString("D2");
            minutes = remainingTime.Minutes.ToString("D2");

            // Обновление UI
            InvokeAsync(StateHasChanged);
        }
        else if (targetDate == endFirstDeadline)
        {
            // Остановка таймера, если отсчет завершен
            timer!.Stop();

            targetDate = endSecondDeadline;

            // Перезапуск таймера
            timer.Start();
        }
        else
        {
            timer!.Stop();
        }
    }
}
